{% extends 'base.html' %}
{% load static %}

{% block login %}
<style>
    main {
        background-image: url('{% static "orders/img/fondo1.jpg" %}') !important;
    }

    .formulario-login {
        background-image: url('{% static "orders/img/login-back-ground-03.jpg" %}') !important;
    }
    @media (max-width: 600px) {
        .formulario-login {
        background-image: url('{% static "orders/img/login-back-mobile-05.jpg" %}') !important; 
    }
    }

</style>
<main class="main-login">
    <div class="formulario-login">
        <div class="logo-login-container">
            <img class="logo-login" src='{% static "orders/img/login-logo-04.webp" %}' alt="">
        </div>
        <form class="inputs-container" action="" method="POST">
            {% csrf_token %}
            <div class="centered">
                <h5>Ingrese a su cuenta</h5>
                <p class="centered-p">Debe contar con un usuario habilitado</p>
                {{formulario.as_p}}
                <input class="boton-log" type="submit" value="ingresar">
            </div>
            <div class="ws-div">
                <p>¿Tiene ya una cuenta y no puede ingresar?</p>
                <p>Toque para escribirnos:</p>
                <a href="https://wa.me/5491160585200" target="_blank" rel="noopener noreferrer"><img class="ws" src="{% static 'orders/img/logo-ws.png' %}" alt=""></a>
            </div>
        </form>
    </div>
</main>
{% endblock %}