{% extends 'base.html' %}
{% load static %}

{% block orders %}
<main>
    <div class="main-title">
        <h2>PUESTOS</h2>

        <!-- <div class="input-group mb-3 buscar" >
            <input type="text" class="form-control btn-outline-secondary" placeholder="Buscar Patente" aria-label="Recipient's username"
                aria-describedby="button-addon2" id="patente">
            <button class="btn btn-outline-secondary search-btn" type="button" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="#fafafa" class="bi bi-search" viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg></button>
        </div> -->
    </div>
    <div class="orders puestos">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-dark">

                    <th scope="col">Puesto</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Contraseña</th>
                    <th class="puesto-hidden" scope="col">Responsable</th>
                    <th class="puesto-hidden" scope="col">Tel1</th>
                    <th class="puesto-hidden" scope="col">Provincia</th>
                    <th class="puesto-hidden" scope="col">Ciudad</th>
                    <th class="puesto-hidden" scope="col">Direccion</th>
                    <th class="puesto-hidden" scope="col">Mail</th>
                    <th class="puesto-hidden" scope="col">Cliente SAP</th>
                    <th class="oculto" scope="col">Ver</th>
                </tr>
            </thead>
            <tbody>
                {% for n in usuarios %}
                <tr>
                    <th scope="row">{{n.razon_social}}</th>
                    <td>{{n.usuario}}</td>
                    <td>{{n.contrasena}}</td>
                    <td class="puesto-hidden">{{n.responsable}}</td>
                    <td class="puesto-hidden">{{n.tel1}}</td>
                    <td class="puesto-hidden">{{n.provincia}}</td>
                    <td class="puesto-hidden">{{n.localidad}}</td>
                    <td class="puesto-hidden">{{n.direccion}}</td>
                    <td class="puesto-hidden">{{n.email}}</td>
                    <td class="puesto-hidden">10000{{n.agente}}</td>                    
                    
                    <td class="iconos oculto"><a href="{% url 'shop' n.id %}"><i class="bi bi-eye"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}